.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-link {
  margin-right: 10px;
}

.team-soc-link:last-child {
  margin-right: 0;
}

.team-soc-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background-color: var(--primery-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #afb1b8;
}

.team-soc-item:hover,
.team-soc-item:focus {
  background-color: var(--accent-color);
}

.team-soc-item:hover .team-soc-icon,
.team-soc-item:focus .team-soc-icon {
  fill: var(--primery-bg-color);
}
