.header-title .container {
  display: flex;
  align-items: center;
}

.header-title {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.contacts {
  display: flex;
  margin-left: auto;
}
